<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginService" />
                <binding name="BasicHttpBinding_ICuentaService" />
                <binding name="BasicHttpBinding_IMovimientoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.40.20.105:666/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService" contract="LoginReference.ILoginService"
                name="BasicHttpBinding_ILoginService" />
            <endpoint address="http://10.40.20.105:666/CuentaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICuentaService"
                contract="CuentaReference.ICuentaService" name="BasicHttpBinding_ICuentaService" />
            <endpoint address="http://10.40.20.105:666/MovimientoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovimientoService"
                contract="MoviReference.IMovimientoService" name="BasicHttpBinding_IMovimientoService" />
        </client>
    </system.serviceModel>
</configuration>